.u-section-1 .u-sheet-1 {
  min-height: 3591px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-family: LEMONMILK-Bold;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: LEMONMILK-Light;
}

.u-section-1 .u-text-3 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: LEMONMILK-Light;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-family: LEMONMILK-Light;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-family: LEMONMILK-Light;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-family: LEMONMILK-Light;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-family: LEMONMILK-Light;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-14 {
  font-family: LEMONMILK-Light;
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-16 {
  font-family: LEMONMILK-Light;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-family: LEMONMILK-Light;
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-20 {
  font-family: LEMONMILK-Light;
  margin: 20px 0 0;
}

.u-section-1 .u-text-21 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-22 {
  font-family: LEMONMILK-Light;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  font-family: LEMONMILK-Bold;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-24 {
  font-family: LEMONMILK-Light;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-25 {
  font-family: LEMONMILK-Bold;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-26 {
  font-family: LEMONMILK-Light;
  margin: 20px 0;
}@font-face {
  font-family: 'LEMONMILK-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LEMONMILK-Bold.otf);
}@font-face {
  font-family: 'LEMONMILK-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LEMONMILK-Light.otf);
}